$font_size_pagetitle: 2.65em;
$font_size_headline: 2em;
$font_size_subheadline: 1.65em;
$font_size_bodytext: 1em;
$font_size_input: 1.1em;
$font_size_buttontext: 1.1em;
$font_family_latin: Arial, Helvetica, sans-serif;

$spacing_xs: 5px;
$spacing_s: 15px;
$spacing_m: 20px;
$spacing_l: 30px;
$spacing_xl: 40px;

$mq_xs: 450px;
$mq_s: 600px;
$mq_m: 960px;
$mq_l: 1200px;
$mq_xl: 1440px;

$color_white: white;
$color_black: black;
$color_lightgray: #e9e9e9;
$color_mediumgray: #d0d0d0;
$color_blue: royalblue;